@model CustomerProcessViewModel
@{
    Layout = null;
}

 
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <nav class="navbar navbar-expand-lg bg-warning navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand">Chain Of Responsibility</a> 
        </div>
    </nav>

   <div class="container">
       <br />
       <form method="post" class="form-group">
           <label>Müşteri Adı Soyadı</label>
           <input type="text" class="form-control" asp-for="Name" />
           <br />
           <label>Çekilecek Tutar</label>
           <input type="text" class="form-control" asp-for="Amount" />
           <br />
        <button class="btn btn-warning" id="btn">Para Çek</button>
        <script>
            $('#btn').click(function () {
             alert('İşleminiz gerçekleşmiştir');
            });
        </script>

       </form>
   </div>


